*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #333;
  color: white;
}
.calc {
  max-width: 380px;
  height: 60vh;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "screen screen screen screen"
    "C C remove divide"
    "seven eight nine into"
    "four five six minus"
    "one two three plus"
    "zer equals equals equals";
  justify-content: center;
  border: 5px solid black;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #222;
}
.screen {
  grid-area: screen;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: black;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.zer {
  grid-area: zer;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.into {
  grid-area: into;
}
.divide {
  grid-area: divide;
}
.remove {
  grid-area: remove;
}
.C {
  grid-area: C;
}
.equals {
  grid-area: equals;
}

button {
  font-size: 20px;
  border: 1px solid #333;
  border-radius: 1rem;
  outline: 0;
  transition: transform 0.5s, background-color 0.5s;
  cursor: pointer;
  background-color: black;
  color: white;
}

button:active {
  background-color: #ccc;
  transform: scale(0.85);
}

@media (min-width: 450px) {
  .calc {
    grid-template-columns: repeat(4, 80px);
    margin: 0 auto;
  }
}

h1 {
  text-align: center;
  margin: 1rem auto;
}
